<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-xs-6">
      <div class="white-wrapper wrapper-align">
        <%= render partial: "left", locals: { item: @item} %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="green-wrapper wrapper-align">
      <%= render partial: "right", locals: { item: @item, pending_evaluation: @pending_evaluation} %>
      </div>
    </div>
  </div>
</div>
