<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <div class="banner-container">
      <div class="logo logo-large">
          VER
          <br>
          KEN
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="banner" style="background-image:url('<%= image_path 'banner.jpg' %>');"></div>
    </div>
  </div>
</div>