.navbar-verken {
  z-index: 9999;
  display: flex;
  align-items: center;
  padding-right: 50px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 75px;
  .logo-small {
    margin: 20px 40px;
  }
  .nav-block {
    background-color: white;
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
    margin-top: 10px;
    .clearfix {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 100px;
      height: 100px;
      &:hover #sub {
        display: flex;
      }
    }
    &:hover .clearfix {
      display: block;
    }
    &:hover #sub {
      display: flex;
    }
    .nav-block-link {
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      text-decoration: none;
      width: 100%;
      height: 100%;
      margin: 0;
      &:hover {
        text-decoration: none;
        color: black;
      }
      i {
        font-size: 20px;
        transform: rotate(-45deg);
      }
    }
  }
}

#sub:after{
  content: '';
  position: absolute;
  width: 60px;
  height: 20px;
  background-color: transparent;
  top:-20px;
  right: 0;
}

#sub{
  display: none;
  transform: rotate(-45deg);
  height: 100px;
  width: 130px;
  padding: 10px;
  background:$gray;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  position:absolute;
  z-index:2;
  .divider {
    width: 90%;
    border-bottom: 1px solid white;
  }
  a {
    color: white;
    text-align: left;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

.single-item {
  justify-content: flex-end;
}

.multi-item {
  justify-content: space-between;
}

