.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  &:hover {
    text-decoration: none;
    color: white;
  }
  &:focus {
   text-decoration: none;
   color: white; 
 }
}

.button-white {
  background-color: white;
  color: $green;
}

.button-gray {
  background-color: $gray;
  color: white;
}

.button-yellow {
  background-color: $yellow;
  color: white;
}

.button-verken {
  display: block;
  border: none;
  background-color: $yellow;
  color: white;
  text-align: center;
  width: 140px;
}